{{#with data}}
  <img
    src='{{photo}}'
    alt='img {{name}}'
    class='articles_img'
  />
  <div class='articles_isnew'>
    <h4 class='articles_name'>{{name}}</h4>
    {{#if isNew}}
      <span>NEW</span>
    {{/if}}
  </div>
  <p class='articles_description'>{{description}}</p>
  <a class='articles_button_card'>Read All</a>
{{/with}}