<footer class='footer_dark'>
  {{#with footer}}
    <div class='footer_pages'>
      {{#each pages}}
        <a href='path'>{{name}}</a>
      {{/each}}
    </div>
    <p class='footer_copyright'>{{copyright}}</p>
  {{/with}}
</footer>