<div >
    {{> logo}}
    <span class="footer_copyririgt">© 2023</span>
</div>
{{#each footer}}
    <div >
        <span class="footer_title">{{title}}</span>
        {{> nav list=links isVertical=true}}
    </div>
{{/each}}