<header class="header_dark">
  <div class='header'>
  {{> header}} 
  </div>
  <div class="header_ad">
    <div>
      <span class='header_icon_ad'> 
        Ad  
      </span>
      <a href="header.ad.url" class="header_text">{{header.ad.text}}</a>
    </div>    
  <div class="header_userOnline">
    <span>User onlines:</span>
    {{header.userOnline}}
  </div>   
  </div>
</header>