<header class="header_dark">
  <div class='header'>
    <div>   
        {{> logo}}
    </div>
    <nav class='header_nav'>
        {{#with header}}
            <div class="nav_inline">
                {{> nav list=links}}
            </div>
        {{/with}}   
    </nav> 
  </div>
<div class="header_ad">
    <div>
      <span class='header_icon_ad'> 
        Ad  
      </span>
      <a href="header.ad.url" class="header_text">{{header.ad.text}}</a>
    </div>    
  <div class="header_userOnline">
    <span>User onlines:</span>
    {{header.userOnline}}
  </div>   
</div>
</header>